<div class="row">
  <div ng-class='col-md-12'>
    <div class="container-fluid">
        <h2>uTorrent client in angular</h2>
      

        <button ng-click="Scan()">Scan for a listening torrent client</button>
    		<button ng-click="Pair()" ng-if="!authToken">Pair on found torrent client</button>
    		<button ng-click="Connect()" ng-if="authToken">Connect to uTorrent with auth token: {{authToken}}</button>
        <button ng-click="Update()" ng-if="session">Start polling for data</button>

        <ul class="status">
          <li ng-repeat="status in statusLog">{{status}}</li>
        </ul>

         <table class="torrents table table-condensed table-hover">
          <tbody ng-repeat="torrent in rpc.getTorrents()|orderBy:'getStarted()':true" ng-click="active = true">
            <tr>
             <th style='white-space:nowrap'>{{torrent.getStarted() * 1000 | date:'dd-MM-yyyy'}}</th>
              <td> {{torrent.properties.all.name}}</td>
              <td>{{torrent.getFormattedStatus()}}</td>
              <td>
               <div class="progress-striped progress">
                <div class="progress-bar progress-bar-success" ng-style="{ width: torrent.getProgress() + '%' }">
                  <span class="ng-scope ng-binding">{{torrent.getProgress()}}%</span>
                 </div>
                </div>

              </tr>
              <tr ng-if="active">
               <td colspan="4">
                <ul>
                  <li ng-repeat="file in torrent.getFiles()">
                    {{ file.name }} 
                      <a ng-if="file.properties.all.is_streamable == true" ng-href="{{file.properties.all.streaming_url }}" target='_blank'>Click to play</a>
                  </li>
                </ul>
              </td>
            </tr> 
            </tbody>
          </table>

    </div>
  </div>
</div>
